*{
    background-color: rgb(227, 154, 86);
}

a{
    text-decoration: none;
    color: white;
}

h1{
    color: #173667;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}

p{
    color: white;
    text-align: center;
    display: block;
}